doctype html
html
    head
        title Somata Dashboard
        link(rel='stylesheet', href='/css/jquery.jsonview.css')
        link(rel='stylesheet', href='/css/base.css')

    body
        #main.container

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.22/Bacon.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/somata-socketio.js')
    script(src='/js/jquery.jsonview.js')

    script(src='/js/dispatcher.js')
    script(src='/js/views/helpers.js')

    script(src='/js/views/services.js')
    script(src='/js/views/service.js')
    script(src='/js/views/new-service.js')
    script(src='/js/views/service-logs.js')

    script(src='/js/views/docs.js')
    script(src='/js/views/shell.js')

    script(src='/js/views/app.js')
    script(src='/js/base.js')

