



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1.3em Roboto, Helvetica, sans-serif;
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes spinIn {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.header .logo .main {
  fill: #ccc;
  -webkit-transition: fill 0.2s;
}

.header .logo:hover .main {
  fill: #36c;
}

.header .logo:not(:active) {
  -webkit-animation-name: spinIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0.01s;
}

.header .logo {
  width: 40px;
  height: 40px;
  flex-grow: 0;
}

.keys {
  flex-grow: 1;
  text-align: right;
}

.keys a.active {
  background: #36c;
  border-color: #36c;
  color: #fff;
}

.keys a {
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.keys a + a {
  border-left: none;
}

.instance {
  border: 1px solid #ccc;
  padding: 15px;
}

.instance .id {
  font-weight: bold;
  word-break: break-word;
}

.instance .id + .detail {
  margin-top: 10px;
}

.detail strong {
  color: #ccc;
}

.empty,
.loading {
  font-style: italic;
  color: #ccc;
}

.graph {
  margin-top: 15px;
}

.graph svg {
  overflow: visible;
}

.graph .axis path {
  fill: none;
  stroke: none;
}

.graph .axis text {
  font-size: 10px;
  fill: #ccc;
}

.graph .line {
  fill: none;
  stroke: #36c;
  stroke-width: 2px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.box {
  padding: 10px;
  width: 50%;
}

@media (max-width: 500px) {
  .box {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .box {
    width: 33.33%;
  }
}

@media (min-width: 1500px) {
  .box {
    width: 25%;
  }
}